@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: fit-content;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color:#fff;
    position: fixed;
    z-index: 3;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(IMAGENES/LOGO.svg);
    background-position: center;
    background-size: cover;
    width: 110px;
    height: 92%;
    position: absolute;
    right: calc(100% - 120px);
    min-width: 100px;
    margin-top: 1px;
}
header>nav>span{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 90%;
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition:background-color 0.4s;
    border-radius: 7px;
}
header>nav>span:hover{
    background-color: #f3f2f2e7;
}
header>nav>span:nth-child(2){
    width: 180px;
}
.opciones{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 380px;
    height: 99%;
}
.intro{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 8%;
    align-items: center;
    background-color: transparent;
    width: fit-content;
    height: max-content;
}
.seccion-1{
    background: url(IMAGENES/FONDO-INICIO.svg);
    background-position: center;
    background-size: cover;
    height: 470px;
    margin: 0%;
    width: 100%;
    padding: 0%;
}
.img-1{
    width: 380px;
    height: 340px;
    position: absolute;
    top: 16%;
    left: 62%;
}
.titulo{
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: #FA9B22;
    width: 380px;
    margin-bottom: 0px;
}
.descripcion{
    width: 600px;
    height: max-content;
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    text-align: center;
}
.btn-1{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: 0px;
    background-color: #FA9B22;
    color: #fff;
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    margin-top: 10px;
    transition: box-shadow 0.3s ,transform 0.4s;
    cursor: pointer;
}
.btn-1:hover{
    box-shadow: 4px 7px 8px rgb(203, 203, 203);
    transform: scale(1.02);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color:rgba(199, 199, 199, 0.727) ;
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    background-color: rgba(239, 239, 239, 0.317);
}
.opciones-desplegables{
    width: 130px;
    height: 70px;
    background-color: #ffffff;
    position: fixed;
    top: 100%;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #ecebebe7;
    transition: opacity 0.2s ease-in-out, visibility 0.2s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
.opciones-desplegables>p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0e7 ;
    cursor: pointer;
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.opciones-desplegables>p:nth-child(2){
    border: 0px;
    border-radius: 0px 0px 10px 10px ;
}
.opciones-desplegables>p:hover{
    background-color: #ecebebe7;
}
.btn-apl:hover + .opciones-desplegables,.opciones-desplegables:hover {
            visibility: visible;
            opacity: 1;
}


/*SECCION-2*/
.seccion-2{
    display: flex;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 400px;
}
.categorias{
    display: grid;
    grid-template-columns: repeat(3,166.6px);
    grid-template-rows: 30px 170px 170px;
    place-items: center;
    background-color: transparent;
    width: 500px;
    height: 100%;
    margin-left: 6%;
    min-width: 450px;
}
.categorias>span{
    width: 140px;
    height: 145px;
    background: linear-gradient(to top, #217FFB, #D1F7FF);
    border-radius: 15px;
    cursor: pointer;
}
.categorias>span:nth-child(1){
    grid-row: 2;
    grid-column: 1;
}
.categorias>span:nth-child(2){
    grid-row: 2;
    grid-column: 2;
}
.categorias>span:nth-child(3){
    grid-row: 2;
    grid-column: 3;
}
.categorias>span:nth-child(4){
    grid-row: 3;
    grid-column: 1;
}
.categorias>span:nth-child(5){
    grid-row: 3;
    grid-column: 2;
}
.categorias>span:nth-child(6){
    grid-row: 3;
    grid-column: 3;
}
.categorias>p{
    grid-row: 1;
    grid-column: span 3;
    margin: 0%;
    margin-left: 0%;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
}

.lista{
    background-color: transparent;
    width: 340px;
    height: 150px;
    margin-left: 5%;
    margin-top: 110px;
    margin-left: 0.5%;
}
.lista>li{
    display: flex;
    vertical-align: middle;
    list-style: none;
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 12px;
}
.lista>li::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(IMAGENES/comprobado.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5px;
}
.img-2{
    width: 290px;
    height: 290px;
    margin-top: 40px;
}


footer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #217FFB;
    justify-content: space-evenly;
    color: #fff;
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}
footer>span{
    width: 1px;
    height: 80%;
    background-color: #fff;
    border: 0px;
    border-radius: 5px;
    
}